services:
  5gc:
    container_name: open5gs_5gc
    build:
      context: open5gs
      target: open5gs
      args:
        OS_VERSION: "22.04"
        OPEN5GS_VERSION: "v2.7.0"
        BUILD_CORES: ${BUILD_CORES:-4}
    env_file:
      - ${OPEN_5GS_ENV_FILE:-./open5gs/open5gs.env}
    privileged: true
    ports:
      - "9999:9999/tcp"
    volumes:
      - type: bind
        source: ${OPEN5GS_CONFIG_PATH:-./configs/open5gs_SA.yml}
        target: /config/open5gs-5gc.yml.in
        read_only: true
    # Uncomment port to use the 5gc from outside the docker network
    #  - "38412:38412/sctp"
    #  - "2152:2152/udp"
    # 
    # command: 5gc -c /config/open5gs-5gc.yml    # Let the entrypoint render env vars and start 5gc
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.20 7777"]
      interval: 3s
      timeout: 1s
      retries: 60
    networks:
      ran:
        ipv4_address: ${OPEN5GS_IP:-10.53.1.2}

  gnb:
    container_name: srsran_gnb
    # Build info
    image: srsran/gnb
    build:
      dockerfile: Dockerfile
      args:
        OS_VERSION: "24.04"
        BUILD_CORES: ${BUILD_CORES:-4}
    # privileged mode is required only for accessing usb devices
    privileged: true
    # Extra capabilities always required
    cap_add:
      - NET_ADMIN
      - SYS_NICE
      - CAP_SYS_PTRACE
    volumes:
      - /dev/bus/usb/:/dev/bus/usb/
      - /usr/share/uhd/images:/usr/share/uhd/images
      - gnb-storage:/tmp
    env_file:
      - ${GNB_ENV_FILE:-./.env}
    # It creates a file/folder into /config_name inside the container
    # Its content would be the value of the file used to create the config
    configs:
      - gnb_config.yml
    # Customize your desired network mode.
    # current network configuration creates a private network with both containers attached
    # An alternative would be `network: host"`. That would expose your host network into the container. It's the easiest to use if the 5gc is not in your PC
    networks:
      ran:
        ipv4_address: ${GNB_IP}
      metrics:
        ipv4_address: 172.19.1.3
    depends_on:
      5gc:
        condition: service_healthy
    # command: gnb -c /gnb_config.yml
    command: /bin/sh -lc 'gnb -c /gnb_config.yml || { echo "[gnb] failed with exit code $?"; sleep infinity; }'

configs:
  gnb_config.yml:
    file: ${GNB_CONFIG_PATH:-../configs/gnb_rf_b200_tdd_n78_20mhz.yml}

volumes:
  gnb-storage:

networks:
  ran:
    ipam:
      driver: default
      config:
        - subnet: 10.53.1.0/24
  metrics:
    ipam:
      driver: default
      config:
        - subnet: 172.19.1.0/24
