# This docker-compose configuration is meant to be used to deploy a ZMQ-based infrastructure, running:
#  - Open5GS: Core Network (unchanged)
#  - srsRAN: gNB
#  - srsUE: simulation software-based of a User Equipment

services:
  5gc:
    container_name: open5gs_5gc
    build:
      context: ../open5gs
      dockerfile: Dockerfile
      target: open5gs
      args:
        OS_VERSION: "22.04"
        OPEN5GS_VERSION: "v2.7.0"
        BUILD_CORES: ${BUILD_CORES:-4}
    env_file:
      - ${OPEN_5GS_ENV_FILE:-../open5gs/open5gs.env}
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    devices:
      - "/dev/net/tun:/dev/net/tun"
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.disable_ipv6=0
    ports:
      - "9999:9999/tcp"
      # # Uncomment port to use the 5gc from outside the docker network
      # - "38412:38412/sctp"
      # - "2152:2152/udp"
    volumes:
      - /lib/modules:/lib/modules:ro
      - type: bind
        source: ${OPEN5GS_CONFIG_PATH:-../configs/open5gs_SA.yml}
        target: /config/open5gs-5gc.yml.in
        read_only: true
    command: 5gc -c /config/open5gs-5gc.yml
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.20 7777"]
      interval: 3s
      timeout: 1s
      retries: 60
    networks:
      ran:
        ipv4_address: ${OPEN5GS_IP:-10.53.1.2}

  gnb:
    container_name: srsran_gnb
    image: srsran/gnb
    build:
      context: ..
      dockerfile: zmq/gnb/Dockerfile
      args:
        OS_VERSION: "24.04"
        BUILD_CORES: ${BUILD_CORES:-4}
        EXTRA_CMAKE_ARGS: "-DENABLE_EXPORT=ON -DENABLE_ZEROMQ=ON -DENABLE_MKL=OFF"
        ENABLE_UHD: ${ENABLE_UHD:-On}
        ENABLE_DPDK: ${ENABLE_DPDK:-On}
    privileged: true   # for accessing usb devices
    cap_add:
      - NET_ADMIN
      - SYS_NICE
      - CAP_SYS_PTRACE
    volumes:
      - /dev/bus/usb/:/dev/bus/usb/
      - /usr/share/uhd/images:/usr/share/uhd/images
      - gnb-storage:/tmp
    env_file:
      - ${GNB_ENV_FILE:-./.env}
    # It creates a file/folder into /config_name inside the container
    # Its content would be the value of the file used to create the config
    configs:
      - gnb_config.yml
    # Customize your desired network mode.
    # current network configuration creates a private network with both containers attached
    # An alternative would be `network: host"`. That would expose your host network into the container. It's the easiest to use if the 5gc is not in your PC
    networks:
      ran:
        ipv4_address: ${GNB_IP}
      metrics:
        ipv4_address: 172.19.1.3
    depends_on:
      5gc:
        condition: service_healthy
    command: /bin/sh -lc 'gnb -c /gnb_config.yml || { echo "[gnb] failed with exit code $?"; sleep infinity; }'

  srsue:
      container_name: srsran_ue
      image: srsran/srsue
      build:
        context: ..
        dockerfile: zmq/srsue/Dockerfile
        target: srsue
        args:
          BUILD_CORES: ${BUILD_CORES:-4}
      privileged: true
      cap_add:
        - NET_ADMIN
        - SYS_NICE
      devices:
        - /dev/net/tun:/dev/net/tun
      env_file:
        - ${SRSUE_ENV_FILE:-./.env}
      configs:
        - srsue_config.conf
      networks:
        ran:
          ipv4_address: ${SRSUE_IP:-10.53.1.4}
      depends_on:
        - 5gc
        - gnb
      command: /bin/sh -lc 'srsue /srsue_config.conf || { echo "[srsue] failed with exit code $?"; sleep infinity; }'

  zmq_broker:
    container_name: zmq_broker
    build:
      context: ./broker
      dockerfile: Dockerfile
    networks:
      ran:
        ipv4_address: 10.53.1.5
    volumes:
      - ./captures:/iq
    environment:
      PYTHONUNBUFFERED: "1"
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
    command: >
        /bin/sh -lc
        'python3 /app/iq_broker.py
        --dl-front-rep tcp://*:2000
        --dl-back-req tcp://gnb:2101
        --ul-front-rep tcp://*:2100
        --ul-back-req tcp://srsue:2001
        --ctl-rep tcp://0.0.0.0:5555
        --out-dir /iq
        || { echo "[broker] failed with exit code $?"; sleep infinity; }'

configs:
  gnb_config.yml:
    file: ${GNB_CONFIG_PATH:-../gnb/gnb_fdd_zmq.yml}
  srsue_config.conf:
    file: ${SRSUE_CONFIG_PATH:-./srsue/srsue_zmq.conf}

volumes:
  gnb-storage:

networks:
  ran:
    ipam:
      driver: default
      config:
        - subnet: 10.53.1.0/24
  metrics:
    ipam:
      driver: default
      config:
        - subnet: 172.19.1.0/24
